{include file='../Public/public.html'}
<div class="admin">
  <div class="tab">
    <div class="tab-head"> <strong>成员管理</strong>
      <ul class="tab-nav">
        <li class="active"><a href="#tab-set">添加成员</a></li>
      </ul>
    </div>
    <div class="tab-body"> <br />
      <div class="tab-panel active" id="tab-set">
        <form method="POST" class="form-x" action="index.php?p=Admin&c=Member&a=dealEdit" enctype="multipart/form-data">
          <div class="form-group">
            <div class="label">
              <label for="sitename">成员名</label>
            </div>
            <div class="field">
              <input value="{$memberInfo.member_name}" type="text" class="input" id="title" name="member_name" size="50" placeholder="请填写成员姓名" data-validate="required:请填写您的成员姓名" />
            </div>
          </div>
          <div class="form-group">
              <div class="label">
                <label for="sitename">QQ</label>
              </div>
              <div class="field">
                <input value="{$memberInfo.member_qq}" type="text" class="input" id="title" name="member_qq" size="50" placeholder="请填写QQ,也可不填" />
              </div>
            </div>
            <div class="form-group">
                <div class="label">
                  <label for="sitename">微信</label>
                </div>
                <div class="field">
                  <input value="{$memberInfo.member_wechat}" type="text" class="input" id="title" name="member_wechat" size="50" placeholder="请填写微信,也可不填" />
                </div>
              </div>
          <div class="form-group">
            <div class="label">
              <label for="logo">个人头像</label>
            </div>
            <div class="field"> <a class="button input-file" href="javascript:void(0);">上传文件
              <input size="100" type="file" name="member_profile" data-validate="regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件" />
                <input type="hidden" name="member_profile_bak" value="{$memberInfo.member_profile}">
            </a> </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="siteurl">学号</label>
            </div>
            <div class="field">
              <input value="{$memberInfo.member_number}" type="text" class="input" id="author" name="member_number" size="50" placeholder="请填写成员学号" data-validate="required:请填写成员学号" />
            </div>
          </div>
          <div class="form-group">
              <div class="label">
                <label for="sitename">邮箱</label>
              </div>
              <div class="field">
                <input value="{$memberInfo.member_mail}" type="text" class="input" id="title" name="member_mail" size="50" placeholder="请填写邮箱，也可不填" />
              </div>
            </div>
          <div class="form-group">
            <div class="label">
              <label for="sitename">所在组别</label>
            </div>
            <div class="field">
              <select class="select" name="group_id">
                <option value="1" {if $member_info.group_id=1}selected {/if} >二进制组</option>
                <option value="2" {if $member_info.group_id=2}selected {/if}>web组</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="readme">手机号码</label>
            </div>
            <div class="field">
              <input type="text" class="input" value="{$memberInfo.member_phone}" name="member_phone" id="" data-validate="length#<=12:手机号码长度小于等于12位" >
            </div>
          </div>
          <div class="form-group">
            <div class="label">
              <label for="readme">个人简介</label>
            </div>
            <div class="field">
              <textarea  name="member_desc" class="input" rows="5" cols="50" placeholder="请填写个人简介(少于200个字)" data-validate="required:请填写个人简介(少于200个字)">{$memberInfo.member_desc}</textarea>
            </div>
    </div>
          <div class="form-button">
            <input type="hidden" name="member_id" value="{$memberInfo.member_id}">
            <button name="submit" class="button bg-main" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style='height:30px; border-bottom:1px #DDD solid'></div>
  <p class="text-right text-gray" style="float:right">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>


<script src="/App/Admin/Public/ckeditor/ckeditor.js"></script>
<script>

$(function(){
    $("#top-nav>li").eq(1).addClass('active').siblings().removeClass('active');
});

</script>

{include file='../Public/script.html'}

</script>
</body>
</html>